@font-face {
    font-family: 'komika';
    src: url('komikax_-webfont.woff2') format('woff2'),
         url('komikax_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'opensans';
    src: url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
